<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="bundles/content">
            <directory suffix="Test.php">./bundles/content/tests</directory>
        </testsuite>

        <testsuite name="bundles/extensions">
            <directory suffix="Test.php">./bundles/extensions/tests</directory>
        </testsuite>

        <testsuite name="bundles/keycloak">
            <directory suffix="Test.php">./bundles/keycloak/tests</directory>
        </testsuite>

        <testsuite name="extensions/demo">
            <directory suffix="Test.php">./extensions/demo/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>

        <env name="KEYCLOAK_AUTH_SERVER_URL" value="https://keycloak/auth"/>
        <env name="KEYCLOAK_CLIENT_ID" value="webapp"/>
        <env name="KEYCLOAK_CLIENT_SECRET" value="="/>
        <env name="KEYCLOAK_ENCRYPTION_ALGORITHM" value="RS256"/>
        <env name="KEYCLOAK_ENCRYPTION_KEY" value="="/>
        <env name="KEYCLOAK_ENCRYPTION_KEY_PATH" value="key.pem"/>
        <env name="KEYCLOAK_REALM" value="silicon"/>
        <env name="KEYCLOAK_REDIRECT_URL" value="https://client/check"/>
    </php>
</phpunit>
